:root {
    --color-fg-comic: black;
    --color-bg-comic: white;
    --color-secondary-comic: #333;
}

.comic {
    .comic-edit .post-edit-link {
        font-weight: normal;
        font-size: 1rem;
    }
    .comic-header {
        text-align: center;
        transition: var(--trx);
    }   
    
    .comic-masthead {
        max-width: 650px;
        height: auto;
        width: 100%;
        display: inline-block;
    }
    .comic-title {
        font-size:3rem;
        text-indent:100%;
        white-space: nowrap;
        overflow: hidden;
        height: 0;
    }
    .comic-page-art {
        width: 100%;
        height: auto;
        margin: auto;
        box-shadow: (var(--bs));
    }
    
    .page-art, .updates {
        margin-bottom: 2rem;
    }
    
    .episode-title {
        margin: 1rem 0;
    }
    .comic-nav {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;
        [class^="nav"] {
            font-size: 1.75rem;
            border: 1px solid var(--color-secondary-comic);
            border-radius: 50%;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);            
            background: radial-gradient(circle at 100%, #ffffff 66%, #bfbfbf);
            transition: var(--trx);
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;

            &:has(.unclickable) {
                opacity: 0.5;
            }
            a {
                transition: var(--trx);
                color: var(--color-secondary-comic);
                display: inline-block;
            }
            
            &:hover, &:focus-visible {
                box-shadow: 2px 4px 6px rgba(0, 0, 0, .8);
                &:has(.unclickable) { // resets the effect
                    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);            
                }          
                a:not(.unclickable) {
                    transform: scale(1.1);
                }

            }
        }
        .nav-first  {
            i {
                transform: translateX(-2px);
            }
        }
        .nav-last {
            i {
                transform: translateX(2px);
            }
        }
        .label {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            height: 0;
            width: 0;
        }
    }
}
@media screen and (min-width: 782px) {
    .comic {

        .comic-nav {
            [class^="nav"] {
                font-size: 1rem;
                width: auto;
                aspect-ratio: auto;
                padding: 1rem;
                border-radius: var(--bdrs);
                i {
                    transform: none;
                }
                &:hover, &:focus-visible {
    
                    a:not(.unclickable) {
                        transform: none;
                    }
        
                }
            }
            .label {
                display: inline;
                height: auto;
                width: auto;
            }
        } 
    } 
}

.comic-feed {
    h2 {
        margin-bottom: 1rem;
    }
}

.comic-cards {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-gap: clamp(1rem, 2rem, 4rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    article {
        width: 100%;
        flex: 1 1 350px;
        min-width: 350px;
        max-width: 500px;
        display: inline-block;

        background-color: var(--color-bg-default);
        box-shadow: var(--bs);
        // padding: 1rem;
        border-radius: var(--bdrs);
        overflow: hidden;

        header {
            background-color: var(--color-secondary-comic);
            padding: 1rem;
            * {
                color: var(--color-bg-comic);
            }
            .entry-title {
                margin-top: 0;
            }
            .entry-meta {
                margin-bottom: 0;
            }

        }
        .entry-summary {
            padding: 1rem;
            img {
                float: left;
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.comic-single {

}