.site-header {
    position: relative;
    padding: 1rem;
    width: 100%;

}
#branding {
    position: relative;
    z-index: 2;
    text-align: center;

    #site-title {
        
        .site-logo {
            height: 3rem;
        }

        a {
            transition: var(--trx);
            // necessary for logo hover effect
            display: inline-block;
            border-radius: 6px 0;
            &:hover, &:focus-visible {
                box-shadow: 0 0 0 3px var(--color-fg-primary);
                animation-duration: 1s;
                animation-name: pulseshadow;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
        h1 {
            margin: 0;
            line-height: 0; // removes extra height from logo
        }
    }
}
@keyframes pulseshadow {
    0% {
        box-shadow: 0 0 0 0px white, 0 0 0 0px var(--color-fg-primary);
    }
    
    100% {
        box-shadow: 0 0 0 2px white, 0 0 0 5px var(--color-fg-primary);
    }
}
@media screen and (min-width: 782px) {
    .site-header {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    #branding {
        margin-right: 1.5rem;
    
    }
    
}