.jumbotron {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;

  &.jumbotron-hero {
    position: relative;
    .hero-image {
      width: 100%;
      height: 60vh;
      object-fit: cover;
    }
    .jumbotron-statement {
      text-align: center;
      width: calc(100% - 2rem);
      position: absolute;
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: var(--bdrs);
      transform: translate(-50%, -50%);

      // default position
      left: 50%;
      top: 50%;

      // v_position
      &.top {
        top: 25%;
      }
      &.middle {
        top: 50%;
      }
      &.bottom {
        top: 75%;
      }
      // h_position -> mobile all center
      &.left, &.center, &.left { 
        left: 50%;
      }
      

      .jumbotron-text {
        font-size: 2rem;
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (min-width: 782px) {
  .jumbotron {
    &.jumbotron-hero {
      .jumbotron-statement {
        width: auto;
        min-width: calc(50% - 4rem);
        // h_position
        &.left {
          left: 25%;
        }
        
        &.right {
          left: 75%;
        }
      }
    }
  }
}
