#site-title {
    font-size: 3rem;
    padding: 1rem;
    a {
        display: block;
        background-image: var(--site-logo-uri);
        background-repeat: no-repeat;
        transition: var(--trx);
        transform-origin: left;
        &:hover {
            transform: scale(1.1);
        }
        span {
            display: block;
            text-indent:100%;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}